<!-- <div class="container ">
    <div class="row">
        <div class="col-4 col-md-4 text-primary">
            Column 1
        </div>
        <div class="col-4 col-md-4 text-danger">
            Column 2
        </div>
        <div class="col-4 col-md-4 text-info">
            Column 3
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary"  [class.active]="isActive">
    Primary
</button>
<button [style.backgroundColor]="isActive? 'yellow' : 'blue'">iTshare</button>
<hr>
<button (click)="methodName()"></button>
<hr>
<div (click)="divClick($event)">
    Hello World
    <button (click)="btnClick($event)">
        Navigate
    </button>
</div>
<hr>
<input  
    [(ngModel)]="firstname"
    type="text" 
    (keyup.enter)="onkeyUp()"/>
<div class="show">{{firstname}}</div>

<hr>

<input  
    type="text" 
    (keyup.enter)="firstname=$event.target.value || '';onkeyUp(firstname)"/>
<div class="show">{{firstname}}</div> -->

<!-- <div 
class="glyphicon" 
[class.glyphicon-heart]="isFavorite" 
[class.glyphicon-heart-empty]="!isFavorite"
aria-hidden="true"
(click)="onFavoriteClick()"></div> -->

<!-- <div>
    {{title | summary:10}}
</div> -->

