.container {
    padding: 16px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 18px;
    padding: 5px;
    margin: 5px 0;
}

h1{
    color: green;
}